& {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.filters {
  &__title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    color: $main-blue;

    &:not(:first-of-type) {
      border-top: 1px solid $main-blue;
      margin-top: 24px;
      padding-top: 24px;
    }
  }
}
